.aaa_option_table {
	margin-left: -5px;
	border-spacing: 0;
}
.aaa_option_table td, .aaa_option_table th {
	padding: 5px 10px 5px 5px;
	text-align: left;
}
.aaa_option_table .actions {
	width: 50%;
	text-align: right;
}
.aaa_option_table .actions .button {
	margin-right: 10px;
}
.aaa_option_table select {
	max-width: 20% !important;
}
.aaa_option_table .actions .button-delete, .aaa-option-optimizer-reset .button-delete {
	margin-right: 0;
	color: #a00;
	border-color: #a00;
}
.aaa-option-optimizer-reset .button-delete {
	margin-bottom: 10px;
}
.aaa_option_table .actions .button span.dashicons, .aaa_option_table .button.dashicon span.dashicons {
	padding: 0;
	margin: 0 3px 0 0;
	vertical-align: middle;
}
.aaa_option_table td span.num {
	font-family: monospace;
}
.aaa_option_table tr:nth-child(even) {
	background-color: #eee;
}
.aaa_option_table tr:nth-child(odd) {
	background-color: #fff;
}
.aaa_option_table tr:hover {
	background-color: #ddd !important;
}
div.dt-container .dt-input {
	padding: 5px 20px 5px 10px !important;
	max-width: none !important;
}
.aaa-option-optimizer-popover {
	font-family: sans-serif;
	overflow: visible;
	padding: 40px 40px 20px 20px;
	position: fixed;
	max-width: 80%;
	min-height: 200px;
	max-height: 80%;
}
.aaa-option-optimizer-popover pre {
	padding: 10px;
	min-width: 300px;
	max-width: 100%;
	max-height: 60vh;
	border: 1px solid #ccc;
	background-color: #eee;
	overflow: scroll;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: anywhere;
}
.aaa-option-optimizer-popover::backdrop {
	background: rgba(0, 0, 0, 0.75);
}
.aaa-option-optimizer-popover__close {
	background: none !important;
	border: none;
	padding: 5px;
	margin: 5px;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}
.aaa-option-optimizer-popover__close:hover {
	cursor: pointer;
}
.aaa-option-optimizer-reset {
	float: right;
}
.aaa-option-optimizer-tabs {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	background: #e5e5e5;
	box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.aaa-option-optimizer-tabs .input {
	position: absolute;
	opacity: 0;
}
.aaa-option-optimizer-tabs .label {
	width: 100%;
	padding: 20px 30px;
	background: #e5e5e5;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #7f7f7f;
	transition: background 0.1s, color 0.1s;
}
.aaa-option-optimizer-tabs .label:hover {
	background: #d8d8d8;
}
.aaa-option-optimizer-tabs .label:active {
	background: #ccc;
}
.aaa-option-optimizer-tabs .input:focus + .label {
	z-index: 1;
}
.aaa-option-optimizer-tabs .input:checked + .label {
	background: #fff;
	color: #000;
}
.aaa-option-optimizer-tabs .panel {
	display: none;
	padding: 20px 30px 30px;
	background: #fff;
}
.aaa-option-optimizer-tabs .input:checked + .label + .panel {
	display: block;
	width: 100%;
}
@media (min-width: 600px) {
	.aaa-option-optimizer-tabs .panel {
		order: 99;
	}
	.aaa-option-optimizer-tabs .label {
		width: auto;
	}
}
.aaa_option_table .source {
	width: 20%;
}
