parameters:
  level: 6
  paths:
    - .
  excludePaths:
    - vendor
    - tests
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Method [a-zA-Z0-9\\_\:\(\)]+ return type has no value type specified in iterable type array.#'
    - '#Method [a-zA-Z0-9\\_\:\(\)]+ has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array.#'
